body{
	margin:0;
	padding:0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #222629;  			
}

a{
  text-decoration:none;
}

body .full-wrapper{
	max-width: 1150px;
	margin: 0 auto;
}

.col-container{
	padding: .5em 2.5em;
}

/*=====================
HEADER ===============*/

header{
	background-color:#222629;
}

h2,h3,b{
	font-family: 'Josefin Sans', sans-serif;
}

.title{
	margin-top: 0;
	padding-top: 1em;
	font-weight: 700;
	color: #86C232;
}

.main-nav{
	margin-top: 2em;
	padding: 0;
}

.main-nav li{
	list-style: none;
	background-color: #86C232;
	margin-top:.35em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 5px;
	box-shadow: inset 0 -1px 10px  #474B4F;
}

.main-nav li a{
	text-decoration: none;
	color: #212121;
	display: block;
}

.banner .profile-pic{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top:2em;
	color: #ffffff;
 box-shadow: 0 8px 40px rgba(0,0,0,.4);
}


.banner .about-me{
	max-width: 65%;
	margin: 0 auto;
	line-height: 1.4;
	padding:2em 1.5em;
	color: #ffffff;
	font-size: 1em;
	letter-spacing: 1px;
}

/*=========================
PORTFOLIO ===============*/

main{
	background-color: #222629;
}
.tag-line{
	font-weight: 600;
	padding-top: 1.5em;
	padding-bottom: 1em;
	font-size: 1em;
}


.project  .project-layout .pf-image{
	max-width: 100%;
  border-radius: 3px;
  box-shadow: 0 8px 40px rgba(0 , 0 , 0 , .3);
}

.project-picture{
  position: relative;
}

.project-caption{
  color: #fff;
  font-size: 40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , 150%);
  opacity: 0;
  transition: .3s all;
}

.project-picture:hover .project-caption{
   transform: translate(-50% , -50%);
    opacity: 1;
}

.project-picture:hover .profile-pic{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}


.project h3{
	font-size: 1.2em;
}

.project p{
	font-size: 1em;
	line-height: 1.5;
}

/*----------Footer-----------*/

footer{
	background-color:#F1F6F5;
}

footer a{
	text-decoration: none;
	color: #212121;
}

footer p{
	line-height: 1.4;
	letter-spacing: 1px;
	font-size: 1em;
}

footer h3{
	font-size: 1.2em;
	padding-top: 2.5em;
}

footer .contact-section{
	padding-bottom: 1em;
	max-width: 70%;
	margin: 0 auto;
}

hr{
	opacity: .3;
}

.footer-content ul{
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.footer-content .my-name{
	margin-right: auto;
}

.footer-content li:nth-child(n+3){
	display: none;
}

.footer-content ul li{
	padding-top: 1em;
	list-style: none;
}

@media(min-width: 768px){ 

	.main-nav{
		margin-top: 0;
	}

	.main-nav li{
		display: inline-block;
		background-color: #F1F6F5;;
		padding: 0;
		margin: .5em 2em;
		box-shadow: 0 0 0 #FAFAFA;
	}

	header{
		padding-bottom: 1.5em;
	}

	.banner{
		display: flex;
		margin-top: 2em;
		justify-content: space-between;
	}

	.banner p{
		margin-top: 0;
		font-size: 1.28em;
	}

	.banner .profile-picture{
		order: 1;
		background-color:#F1FEFA;
		padding: .75em 2em;
		width: 32%;
		margin-top: 0;
	}

	.banner .profile-picture img{
		margin-top: 0;
	}

	.banner .about-me{
		text-align: left;
		width:54%;
		padding: 0 1em 0 0;
		margin: 0;
    font-size: small;
	}

	.about-me p{
		line-height: 1.6;
		color: #000;
	}

	.wrapper .container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.wrapper .container .project{
		flex-basis:49%;
		padding: 0;
	}

	.project{
		margin-bottom: 1em;
	}

	.footer-content .back-btn{
		display:none;
	}

	footer ul li a{
		padding-right: 1em;
	}
	
	.footer-content li:nth-child(n+3){
		display: inline-flex;
	}

	footer ul li{
		font-size: 1.2em;
	}

	footer .contact-section{
		max-width: 460px;
	}
}

@media(min-width: 1024px){
	
	nav{
		display: flex;
		justify-content: space-between;
	}

	.col-container .main-nav{
		padding-top: 1em;
	}

	.main-nav li{
		margin: 0 0 0 2em;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.wrapper .container .project{
		flex-basis: 32%;
	}

	.wrapper .container .project:nth-child(3n+1){
		padding-right: .5em;
	}

	.wrapper .container .project:nth-child(3n+3){
		padding-left: .5em;
	}
}

